/LanguageDetection/.vs
/LanguageDetection/obj
/SpellChecking/obj
/SpellChecking/.vs
/SpellChecking/bin
/Paraphrasing/obj
/Paraphrasing/.vs
/LanguageDetection/LanguageDetectionInterfaces/obj
/Paraphrasing/ParaphrasingInterfaces/obj
/SpellChecking/SpellCheckingInterfaces/obj
/SearchApi/SearchApiTests/obj
/SearchApi/SearchApiInterfaces/obj
/SearchApi/obj
/SearchApi/.vs
/MarkovMatrix/obj
/MarkovMatrix/.vs
/MarkovMatrix/MarkovMatrixInterfaces/obj
/MarkovMatrix/MarkovMatrixTests/obj
/ParaphraserMath/obj
/ParaphraserMath/.vs
/ParaphraserMath/bin
/ParaphraserMath/ParaphraserMathInterfaces/obj
/ParaphraserMath/ParaphraserMathInterfaces/bin
/ParaphraserMath/ParaphraserMathTests/obj
/ParaphraserMath/ParaphraserMathTests/bin
/MarkovMatrix/bin
/MarkovMatrix/MarkovMatrixInterfaces/bin
/MarkovMatrix/MarkovMatrixTestHelper/obj
/MarkovMatrix/MarkovMatrixTestHelper/bin
/MarkovMatrix/MarkovMatrixTests/bin
/StringManipulation/.vs
/StringManipulation/bin
/StringManipulation/obj
/StringManipulation/StringManipulationTests/obj
/StringManipulation/StringManipulationTests/bin
/LanguageDetection/bin
/LanguageDetection/LanguageDetectionInterfaces/bin
/LanguageDetection/LanguageDetectionTests/obj
/LanguageDetection/LanguageDetectionTests/bin
/LanguageDetection/LanguageDetectionTestHelpers/bin
/LanguageDetection/LanguageDetectionTestHelpers/obj
/LanguageMatrixConstruction/obj
/LanguageMatrixConstruction/.vs
/LanguageMatrixConstruction/bin
/LanguageMatrixConstruction/LanguageMatrixConstructionInterfaces/obj
/LanguageMatrixConstruction/LanguageMatrixConstructionInterfaces/bin
/LanguageMatrixConstruction/LanguageMatrixConstructionTestHelpers/bin
/LanguageMatrixConstruction/LanguageMatrixConstructionTestHelpers/obj
/LanguageMatrixConstruction/LanguageMatrixConstructionTests/obj
/LanguageMatrixConstruction/LanguageMatrixConstructionTests/bin
/LanguageMatrixConstructionConsoleApp/.vs
/LanguageMatrixConstructionConsoleApp/bin
/LanguageMatrixConstructionConsoleApp/obj
/LanguageMatrixConstructionConsoleApp/LanguageMatrixConstructionInterfaces/obj
/LanguageMatrixConstructionConsoleApp/LanguageMatrixConstructionInterfaces/bin
/LanguageMatrixConstructionConsoleApp/LanguageMatrixConstructionTestHelpers/obj
/LanguageMatrixConstructionConsoleApp/LanguageMatrixConstructionTestHelpers/bin
/LanguageMatrixConstructionConsoleApp/LanguageMatrixConstructionTests/obj
/LanguageMatrixConstructionConsoleApp/LanguageMatrixConstructionTests/bin
/LanguageDetectorApp/obj
/LanguageDetectorApp/.vs
/LanguageDetectorApp/bin
/LanguageMatrixConstructionApp/obj
/LanguageMatrixConstructionApp/.vs
/LanguageMatrixConstructionApp/bin
/ParaphaserBootstrap/.vs
/ParaphaserBootstrap/bin
/ParaphaserBootstrap/obj
/SpellChecking/SpellCheckingTests/bin
/SpellChecking/SpellCheckingTests/obj
/SpellChecking/SpellCheckingInterfaces/bin
/LanguageDetectionByDictionary/obj
/LanguageDetectionByDictionary/.vs
/LanguageDetectionByDictionary/bin
/LanguageDetectionByDictionary/LanguageDetectionByDictionaryInterfaces/obj
/LanguageDetectionByDictionary/LanguageDetectionByDictionaryInterfaces/bin
/LanguageDetectionByDictionary/LanguageDetectionByDictionaryTests/obj
/LanguageDetectionByDictionary/LanguageDetectionByDictionaryTests/bin
/SearchApi/SearchApiTests/bin
/SearchApi/bin
/SearchApi/SearchApiInterfaces/bin
/Paraphrasing/bin
/Paraphrasing/ParaphrasingTests/bin
/Paraphrasing/ParaphrasingTests/obj
/Paraphrasing/ParaphrasingInterfaces/bin
/ExtractSentenceTypesApp/obj
/ExtractSentenceTypesApp/.vs
/ExtractSentenceTypesApp/bin
/ExtractSentenceTypesApp/LanguageSamples/lyrics.en.txt
/ExtractSentenceTypesApp/LanguageSamples/lyrics.fr.txt
/WordMatrixConstructionApp/obj
/WordMatrixConstructionApp/.vs
/WordMatrixConstructionApp/bin
/WordMatrixConstructionApp/LanguageSamples/lyrics.fr.txt
/WordMatrixConstructionApp/LanguageSamples/lyrics.en.txt
/Paraphrasing/ParaphrasingTestHelpers/bin
/Paraphrasing/ParaphrasingTestHelpers/obj
