/LanguageDetection/.vs
/LanguageDetection/obj
/SpellChecking/obj
/SpellChecking/.vs
/SpellChecking/bin
/Paraphrasing/obj
/Paraphrasing/.vs
/LanguageDetection/LanguageDetectionInterfaces/obj
/Paraphrasing/ParaphrasingInterfaces/obj
/SpellChecking/SpellCheckingInterfaces/obj
/SearchApi/SearchApiTests/obj
/SearchApi/SearchApiInterfaces/obj
/SearchApi/obj
/SearchApi/.vs
/MarkovMatrix/obj
/MarkovMatrix/.vs
/MarkovMatrix/MarkovMatrixInterfaces/obj
/MarkovMatrix/MarkovMatrixTests/obj
/ParaphraserMath/obj
/ParaphraserMath/.vs
/ParaphraserMath/bin
/ParaphraserMath/ParaphraserMathInterfaces/obj
/ParaphraserMath/ParaphraserMathInterfaces/bin
/ParaphraserMath/ParaphraserMathTests/obj
/ParaphraserMath/ParaphraserMathTests/bin
/MarkovMatrix/bin
/MarkovMatrix/MarkovMatrixInterfaces/bin
/MarkovMatrix/MarkovMatrixTestHelper/obj
/MarkovMatrix/MarkovMatrixTestHelper/bin
/MarkovMatrix/MarkovMatrixTests/bin
