/LanguageDetection/.vs
/LanguageDetection/obj
/SpellChecking/obj
/SpellChecking/.vs
/SpellChecking/bin
/Paraphrasing/obj
/Paraphrasing/.vs
/LanguageDetection/LanguageDetectionInterfaces/obj
/Paraphrasing/ParaphrasingInterfaces/obj
/SpellChecking/SpellCheckingInterfaces/obj
